/* Reset básico */
* {
  margin: 0;
  padding: 0;
  /*margin-right: 10px;*/
  /*box-sizing: border-box;*/
}

@font-face {
  font-family: 'Zen Kurenaido';
  src: url('../../assets/fonts/Zen_Kurenaido/Zen_Kurenaido/ZenKurenaido-Regular.ttf') format('truetype');
}

body {
  font-family: 'Zen Kurenaido', sans-serif;
  /*background-color: #3c0566; * Fondo principal */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #000;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}


.campaign-container {
  background-color: #f4f4f4;
  border-radius: 20px;
  width: 90%;
  max-width: 330px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /*position: relative;*/
  text-align: center;
  overflow: hidden;


}


.campaign-title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}


.campaign-subtitle {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}


.phase {
  display: flex; /* Flex para dividir en dos columnas */
  align-items: center;
  background: linear-gradient(145deg, #ffffff, #e7e6f0);
  margin: 20px 20px;
  padding: 20px;
  border-radius: 20px; /* Borde redondeado circular */
  /*box-shadow: 0 6px 10px rgba(252, 53, 18, 0.50);*/
  text-align: justify;
 
 
}


.phase-right {
  text-align: justify; /* Alinea el texto a la derecha */
  justify-content: flex-end; /* Cambia la posición en flexbox */
}


.phase-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-left: 20px; /* opcional */
}



.phase-content {
  flex: 1; /* Permite que el contenido tome el espacio restante */
}

@font-face {
  font-family: 'Zen Kurenaido';
  src: url('../../assets/fonts/Zen_Kurenaido/Zen_Kurenaido/ZenKurenaido-Regular.ttf') format('truetype');
}


.phase-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Zen Kurenaido';
}

.phase-content p {
  font-size: 14px;
  color: #000;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Zen Kurenaido';

}



.campaign-container::before,
.campaign-container::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}


.campaign-container::before {
  background: linear-gradient(135deg, rgba(255, 123, 0, 0.3), rgba(211, 58, 255, 0.3));
  width: 200px;
  height: 200px;
  top: -50px;
  left: -50px;
}


.campaign-container::after {
  background: linear-gradient(135deg, rgba(123, 0, 255, 0.3), rgba(255, 58, 123, 0.3));
  width: 250px;
  height: 250px;
  bottom: -70px;
  right: -70px;
}


/* Responsividad */
@media (max-width: 768px) {
  .campaign-container {
    width: 95%;
  }


  .phase-title {
    font-size: 16px;
  }
}