.equipo {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.equipo h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}


  .pdtos-titulo h3{
    font-weight: 400;
    color: #961e1e;
    /*border-bottom: 4px solid;*/
    display: inline-block;
    padding-bottom: 8px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}


/* Estilo de la lista */
.ant-list-item {
    /*background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 10px #CA21C4;
    box-shadow: 7px 7px 15px rgba(252, 53, 18, 0.50);**/
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ant-list-item-meta-description {
    text-align: justify; /* Justifica los párrafos */
}




.ant-list-item-meta-title a {
    font-size: 1.5rem;
    color: #1890ff;
    text-decoration: none;
}

/* Imágenes adicionales en las tarjetas */
.ant-list-item-extra {
    margin-left: auto;
}

@font-face {
  font-family: 'Stalemate';
  src: url('../../assets/fonts/Stalemate/Stalemate-Regular.ttf') format('truetype');
}


.lista-productos-imagen {
    width: 100%;
    height: auto;
    max-width: 272px; /* Limita el tamaño máximo de la imagen */
    border-radius: 10px;
}

.ant-pagination {
    text-align: center;
    /*margin-top: 20px;*/
}

.lista-productos {
  font-size: 24px;       /* Tamaño de letra */
  font-weight: bold;     /* Fuente en negrita */ 
  text-align: center;   /* Justificado */
  line-height: 1.6;      /* Espaciado entre líneas para mejor legibilidad */
  padding-left: 10px;    /* Espacio a la izquierda para el símbolo de lista */
  font-family: 'Stalemate', cursive !important;
  margin-top: 40px;
}


.lista-productos span {
  display: block;
}

.justificado {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px; /* Puedes ajustar el tamaño según prefieras */
}

.justificado {
  text-align: justify;
  font-size: 18px;
  padding: 0 5%;
}

.sin-viñetas ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.sin-viñetas li {
  margin-bottom: 4px;
}

.estrellas {
  display: flex;
  gap: 4px;
  margin-bottom: 30px;
}

.estrella-icono {
  font-size: 26px;
}

.phase-title {
  font-size: 16px;
  font-weight: bold !important;
  margin-bottom: 5px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black !important;
}

.phase-title-li {
  font-size: 20.5px;
  font-weight: bold !important;
  margin-bottom: 5px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black !important;
  margin-top: 15px;
}


/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .equipo h3 {
        font-size: 1.8rem;
    }

    .ant-list-item {
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }

    .ant-list-item-meta-title a {
        font-size: 1.3rem;
    }

    .ant-list-item-extra {
        margin-top: 20px;
    }

    img {
        max-width: 100%;
    }
}

/* Responsividad para móviles */
@media (max-width: 480px) {
    .equipo {
        padding: 10px;
    }

    .equipo h3 {
        font-size: 1.5rem;
    }

    .ant-list-item {
        padding: 10px;
    }

    .ant-list-item-meta-title a {
        font-size: 1.2rem;
    }

    .ant-list-item-meta-description {
        font-size: 0.9rem;
    }

    .ant-list-item-extra {
        margin-top: 15px;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
  }
  
}




