.equipo{
    width: 100%;
    /*padding: 20px;*/
    /*padding-bottom: 10px;*/
    box-sizing: border-box;
    text-align: center;
    font-size: 35px;
    position: relative;
    /*margin-top: -20px !important;*/
    
}

.input-color {
  position: fixed; /* Cambia de absolute a fixed */
  right: 30px;
  top: 100px; /* Ajusta según donde lo quieras */
  z-index: 1000;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.equipo h3{
    font-weight: 400;
    color: #212121;
    /*border-bottom: 4px solid;*/
    display: inline-block;
    padding-bottom: 8px;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 
}

.hr{
    border-top-width: 0 !important;
    
}